/*-----------------------------
Application Theme
-----------------------------*/

@import "main.less";


/*-----------------------------
Theme overrides
-----------------------------*/

@navbar-height: 40px;

body {
	background-image: url('../../images/bg-texture.gif');
	background-size: 10px 10px;
}

/*-----------------------------
App header.less overrides
-----------------------------*/

.banner {
	background-image:none;
}

header {

	#primary-navigation {

		.navbar-nav {
			li {
				padding: 15px 0px;
				a {
					padding: 0px 15px 0px;
					line-height: 16px;
					border-right: 1px solid white;
					font-size:@font-size-small;
					font-weight:normal;
				}
				&:last-child {
					a {
						border-right: 0px;
					}
				}
			}
		}

	}

}

/*-----------------------------
App leftsidebar.less overrites
-----------------------------*/


/*-----------------------------
App main-content.less overrites
-----------------------------*/

#main {
	.container {
		.content {
			height:100%;
			min-height:700px;

			a.signout {
				text-decoration: none;
				font-weight: bold;
			}

			.thankyou-signout {
				margin-top: 2em;

				p {
					font-size: 110%;
					font-weight: bold;
				}
			}
		}
	}

	.cert-statement {
		background-color:@nau-light-blue;
		border:1px solid @nau-light-blue-border;
		padding:(@grid-gutter-width - 5);
		margin-bottom:(@grid-gutter-width / 2);
	}
}


/*-----------------------------
Extras
-----------------------------*/

.navbar-warning {
	background-image: linear-gradient(to bottom, #FF9F4F 0%, #F4A133 100%);
}
