/*-----------------------------
Libraries

NOTE: Ensure that paths to libraries are set in your LESS compiler.
      See gruntfile.js
-----------------------------*/

@libs: "../../";

@import "@{libs}bootstrap/less/bootstrap.less";
@import "@{libs}font-awesome/less/font-awesome.less";


/*-----------------------------
NAU Global Variable
-----------------------------*/
@nau-true-blue:         #003466;
@nau-egg-white:         #fbf9f6;
@nau-yellow-white:      #efefe6;
@nau-dark-blue:         #183b5d;
@nau-medium-blue:       #406080;
@nau-light-blue:        #d8dee4;
@nau-light-blue-border: lighten(#adbac7, 5%);
@nau-nav-separator:     lighten(#b3bfcc, 5%);
@nau-yellow:            #ffea00;
@nau-sage:              #619081;
@nau-common-text:       #0f1419;
@grey:                  #333333;
@light-grey:            #e0e0df;
@temp-content-bg:       #f6f4f1;
@success-green:         #1a9231;
@success-green-btn:     #1ab601;
@danger-red:            #d44747;

/*-----------------------------
Variable Controls
-----------------------------*/
@header-height:         200px;
@left-sidebar-width:    230px;
@logo-height:           200px;
@content-min-height:    500px;
@navbar-bottom-border:  3px;
@main-width:            100%;


/*-----------------------------
Variable Overrides
-----------------------------*/

@gray-light:                      lighten(@gray-base, 60%);   // #999
@brand-primary:                   @nau-medium-blue;;
@link-hover-color:                @nau-dark-blue;
@font-size-medium:                floor((@font-size-base * 1.15)); // ~16px
@input-border-radius:             (@border-radius-base - 2px);
@input-color-placeholder:         @gray-light;
@zindex-modal-background:         1040;
@zindex-modal:                    1050;
@navbar-default-bg:               @nau-dark-blue;
@navbar-default-link-color:       #fff;
@navbar-default-link-hover-color: darken(@navbar-default-link-color, 10%);
@navbar-inverse-color:            @gray-light;
@navbar-inverse-link-color:       @gray-light;
@nav-open-link-hover-color:       #fff;
@popover-arrow-color:             #fff;
@modal-inner-padding:             20px;





/*-----------------------------
Core
-----------------------------*/

.input-group-btn-left {
  border-radius:@border-radius-base 0px 0px @border-radius-base;
  margin-right:-5px;
}

.input-group-btn-right {
  border-radius:0px @border-radius-base @border-radius-base 0px;
  margin-left:-5px;
}

.transparent-bg {
  background-color: transparent;
  background-image:url('../images/content-bg.png');
  background-size:50%;
}

.box-shadow(@h: 0px, @v: 8px, @b: 2px, @s: -6px, @color: @light-grey) {
  -moz-box-shadow:    @h @v @b @s @color;
  -webkit-box-shadow: @h @v @b @s @color;
  box-shadow:         @h @v @b @s @color;
}


/*-----------------------------
Custom Mixins
-----------------------------*/

.caret-reverse(@color: @dark-grey, @size: 5px) {
  border-top-width: 0;
  border-bottom: @size solid @color;
  border-right: @size solid transparent;
  border-left: @size solid transparent;
}

.transparent(@fraction: 0.5) {
  @ieopacity: @fraction * 100;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieopacity)";
  filter: alpha(opacity=@ieopacity);
  -moz-opacity:@fraction;
  -khtml-opacity: @fraction;
  opacity: @fraction;
}

.shadow {
  -moz-box-shadow:    0px 0px 10px 0px @nau-dark-blue;
  -webkit-box-shadow: 0px 0px 10px 0px @nau-dark-blue;
  box-shadow:         0px 0px 10px 0px @nau-dark-blue;
}

/*-----------------------------
Fonts
-----------------------------*/
.noto-sans {
  font-family: 'Noto Sans', sans-serif;
}

.noto-sans(@weight:400) {
  font-family: 'Noto Sans', sans-serif;
  font-weight:@weight;
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

/*-----------------------------
Bootstrap Overrides
-----------------------------*/

.navbar {
  border-radius:0px;
  border:0px;
  margin-bottom:0px;
}


.btn {
  border:0px;
  border-radius:0px;
  .noto-sans(700);
  &.primary {
    &:hover {
      background-color:@nau-dark-blue;
    }
  }
  &.wide {
    padding:8px 50px;
  }
}

.navbar-toggle {
  border: 0px;
  border-radius: 0px;
  color:@nau-egg-white;
  font-size:36px;
  padding:0px;
  margin-right:(@grid-gutter-width / 2);
  &:hover,
  &:visited {
    background-color: transparent !important;
    background-image: none;
    color: darken(@nau-egg-white, 10%);
  }
  &:focus {
    background-color: transparent !important;
    background-image: none;
  }
}

.navbar-brand {
  img {
    width:115px;
  }
}




/*-----------------------------
Common styles
-----------------------------*/
body, html {
  height:100%;
}
body {
  .noto-sans;
  color:@nau-common-text;
  font-size:@font-size-small;
}

h1 {
  .roboto-slab;
  color:@nau-common-text;
  font-size:@font-size-h3;
}

h2 {
  .roboto-slab;
}

h3, h4 {
  .roboto-slab;
  color:@nau-common-text;
  font-weight:700;
  &.with-sub {
    margin-bottom:5px;
  }
}

h3 {
  padding-top:30px;
  margin-top:0px;
  margin-bottom:25px;
  &:first-child {
    margin-top:0px;
    padding-top:0px;
  }
}

h4 {
  font-size: @font-size-large;
}

h3.with-sub + p {
  margin-bottom:20px;
}


h4.with-sub + p {
  margin-bottom:20px;
}

ul {
  padding-left:0px;
}

/*-----------------------------
Form Styles
-----------------------------*/

form {
  p {
    font-size:(@font-size-small - 1px);
  }

  fieldset {
    legend{
      border-bottom:0px;
      font-size:@font-size-base;
      font-weight:700;
      margin-bottom:5px;
    }
  }

  fieldset.field-group {
    padding:0px 10px;
    margin-bottom:(@grid-gutter-width * 1.5);
    &.non-repeat {
      margin-bottom:(@grid-gutter-width / 2);
    }
    legend {
      font-size: @font-size-large;
      margin-bottom: 10px;
      font-weight:700;
    }

    .checkbox {
      margin-top:0px;
    }

    &:last-child {
      margin-bottom:0px;
    }

    .form-group {
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  fieldset.field-group + h3 {
    margin-top:0px;
    padding-top:0px;
  }

  fieldset.field-group + h4 {
    margin-top:0px;
    padding-top:0px;
  }

  label {
    font-size:@font-size-base;
    margin-bottom:3px;
  }
  .radio {
    &:first-child {
      margin-top:0px;
    }
    &:last-child {
      margin-bottom:0px;
    }
  }

  .checkbox {
    &:last-child {
      margin-bottom:0px;
    }
  }

  .radio-inline {
    height:20px;
    label {
      font-weight:normal;
    }
  }
  .help-text {
    position: absolute;
    right: (@grid-gutter-width /2);
    top: 3px;
    color:@success-green;
    font-size:@font-size-small - 1;
  }

  .sub-text {
    font-size:@font-size-small - 1;
    font-weight:400;
    display:block;
  }

  .remove-btn {
    .help-text;
    color:@danger-red;
    text-decoration: underline;
    i {
      text-decoration: none;
      margin-right:5px;
    }
    &:hover {
      cursor:pointer;
      color:darken(@danger-red, 10%);
    }
  }

  button {
    i.fa-caret-right {
      margin-left:5px;
    }
  }

  button#submit {
    float:none;
    display: block;
    margin: @grid-gutter-width auto 0px;
    padding: 15px 55px;
    font-size:@font-size-medium;
    &.center {
      float:none;
    }
    @media (min-width: @screen-sm-min) {
      float:right;
      padding: 8px 50px;
    }
  }

  input.ng-invalid.ng-dirty,
  input.ng-valid.ng-dirty {
    -webkit-transition: 500ms ease all;
      -moz-transition: 500ms ease all;
      -ms-transition: 500ms ease all;
      -o-transition: 500ms ease all;
      transition: 500ms ease all;
  }

  input.ng-invalid.ng-dirty,
  select.ng-invalid.ng-dirty,
  textarea.ng-invalid.ng-dirty {
    border-color:@danger-red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px lighten(@danger-red, 10%);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px lighten(@danger-red, 10%);
  }

  input.ng-valid.ng-dirty,
  select.ng-valid.ng-dirty,
  textarea.ng-valid.ng-dirty {
    border-color:@success-green;
    &:focus {
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px lighten(@success-green, 10%);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px lighten(@success-green, 10%);
    }
  }

  .error-messages {
    ul {
      padding-left:40px;
      li {
        a {
          font-weight:700;
          text-decoration: none;
          color:inherit;
          &:hover {
            cursor:pointer;
          }
        }
      }
    }
  }

  .add {
    text-align:right;
    margin-top:(@grid-gutter-width + 15);
  }

  .btn.add, .btn.remove {
    background-color: @success-green-btn;
    font-weight: 400;
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;
    margin-top:0px;
  }

  .form-group {
    margin-bottom:0px;
    div[class*='col-'] {
      margin-bottom:15px;
    }
  }

  @media (min-width: @screen-sm-min) {

    .form-group {
      margin-bottom:(@grid-gutter-width / 2);
      div[class*='col-'] {
        margin-bottom:0px;
      }
    }
  }

}

.sm-pad {
  padding:3px;
}

.md-pad {
  padding:6px;
}

.lg-pad {
  padding:10px;
}
