.twitter-typeahead {
    width: 100%;
}

.tt-dropdown-menu {
    &:extend(.dropdown-menu);
    width: 100%;
}

.tt-suggestion {
    > p {
        &:extend(.dropdown-menu > li > a);
        &:hover,
        &:focus {
            &:extend(.dropdown-menu > .active > a);
        }
    }
    &.tt-cursor {
        > p {
            &:extend(.dropdown-menu > .active > a);
        }
    }
}