
#main {
	.container.one {
		float:none;
		width:@main-width;
		position:relative;
		.aside-bg {
			background-color: @nau-light-blue;
			border: 1px solid @nau-light-blue-border;
		}
	}
}

#main {
	position:relative;
	// height:100%;
	//.transparent-bg;
	.container {
		.content {
			background-color:@nau-egg-white;
			position:relative;
			bottom:0px;

			a {
				text-decoration: underline;
			}

			a.btn {
				text-decoration: none;
			}

			.bread-crumb {
				border-bottom:2px solid @nau-light-blue-border;
				font-size:(@font-size-small - 1px);
				color:@nau-medium-blue;
				padding:10px 0px;
				ul {
					list-style:none;
					margin-bottom:0px;
					li {
						display:inline;
						padding:0px 5px;
						a {
							text-decoration: underline;
						}
					}
				}
				.active {
					font-weight:700;
				}
			}



			@media (min-width: @screen-sm-min) {
				.title {
					padding-left:(@grid-gutter-width / 2);
					padding-bottom: 20px;
					border-right: 1px solid @light-grey;
				}
			}

			.contact {
				.hidden-xs;
				h4 {
					font-family: 'Noto Sans', sans-serif;
					font-size:@font-size-h4;
					font-weight:normal;
					margin-top:20px;
				}
				ul {
					list-style:none;
					li {
						font-size:@font-size-base;
						display:block;
						i {
							padding-right:5px;
							color:@link-color;
						}
					}
				}

				@media (min-width: @screen-lg-min) {
					ul {
						li {
							padding-left:(@grid-gutter-width / 2);
							display:inline;
						}
					}
				}
			}

			.inner-content {
				background-color:lighten(@nau-egg-white, 5%);
				padding:(@grid-gutter-width - 5) (@grid-gutter-width - 5);
				border-top:2px solid @light-grey;
				margin:(@grid-gutter-width / 2) 0px;
				h3 {
					&:first-child {
						margin-top:0px;
					}
				}
			}
		}
	}

}

/*-----------------------------
Modules
-----------------------------*/

.module {
	margin-bottom:(@grid-gutter-width / 2);

	a.btn {
		width:100%;
		margin-top:(@grid-gutter-width / 2);
	}

	@media (min-width: @screen-md-min) {
		a.btn {
			margin-top:0px;
		}
	}
}

/*-----------------------------
Step Content Type
-----------------------------*/

.step.module {
	margin-bottom:(@grid-gutter-width + 15);

	.row {
		margin-top:2px;
		margin-bottom:2px;
	}
}

/*-----------------------------
CTA Content Type
-----------------------------*/

.cta.module {
	padding-left:(@grid-gutter-width / 2);
}


#main {
	h1.banner-message {
		.left-to-right-gradient;
		font-family: 'Roboto Slab', serif;
		font-weight:100;
		color:#fff;
		padding:5px @grid-gutter-width;
		width:400px;
		font-size:(@font-size-base * 4);
		.bold {
			font-weight:normal;
		}
	}
}


.modal-header.bg-primary, .modal-header.bg-success, .modal-header.bg-info, .modal-header.bg-warning, .modal-header.bg-danger {
	border-radius: 6px 6px 0 0;
}


@media (min-width: @screen-sm-min) {

	@left-sidebar-width: 		200px;
	@main-width: 				(@container-sm - (@grid-gutter-width + @left-sidebar-width));
	#main {
		.container.one {
			float:left;
			width:@main-width;
			position:relative;
			.aside-bg {
				height: 100%;
				position: absolute;
				width: @left-sidebar-width;
				left: -@left-sidebar-width;
			}
		}
	}

	aside.navbar-default {
		width:@left-sidebar-width;

		.nau-logo {
			width:@left-sidebar-width;

			.logo-bg-sm {
				width:@left-sidebar-width;
			}

			.logo-bg-lg {
				width:@left-sidebar-width;
			}
		}
	}

}

@media (min-width: @screen-md-min) {

	@left-sidebar-width: 		230px;
	@main-width: 				(@container-md - (@grid-gutter-width + @left-sidebar-width));
	#main {
		.container.one {
			float:left;
			width:@main-width;
			position:relative;
			.aside-bg {
				height: 100%;
				position: absolute;
				width: @left-sidebar-width;
				left: -@left-sidebar-width;
			}
		}
	}

	aside.navbar-default {
		width:@left-sidebar-width;

		.nau-logo {
			width:@left-sidebar-width;

			.logo-bg-sm {
				width:@left-sidebar-width;
			}

			.logo-bg-lg {
				width:@left-sidebar-width;
			}
		}
	}

}

@media (min-width: @screen-lg-min) {

	@main-width: 			(@container-lg - (@grid-gutter-width + @left-sidebar-width));
	#main {
		.container.one {
			float:left;
			width:@main-width;
			position:relative;
			.aside-bg {
				height: 100%;
				position: absolute;
				width: @left-sidebar-width;
				left: -@left-sidebar-width;
			}
		}
	}

}
