footer {
	.left {
		font-size:@font-size-small;
		padding:@grid-gutter-width;
		text-align:center;
		ul {
			margin-bottom:5px;
			list-style:none;
			color:@nau-medium-blue;
			li {
				display:inline;
				padding:0px 2px;
				a {
					text-decoration: none;
					&:hover,
					&:focus {
						text-decoration:underline;
					}
				}
			}
		}

		p {
			font-size:(@font-size-small - 3);
			font-weight: 400;

			a {
				text-decoration: underline;
				color:@nau-common-text;
				&:hover,
				&:focus {
					color:lighten(@nau-common-text, 10%);
				}
			}
		}
	}

	.right {
		.left;
		font-weight:700;
	}
	
	@media (min-width: @screen-sm-min) {
		.left {
			text-align:left;
		}

		.right {
			text-align:right;
		}
	}

}