
aside.navbar-default {
	width:100%;
	background-color: @nau-light-blue;
	border:1px solid @nau-light-blue-border;
	z-index:99;


	.nau-logo {
		z-index:1000;
		width:@left-sidebar-width;
		background-color:@nau-dark-blue;
		// height:@logo-height;
		margin-top:-@navbar-height;
		margin-left:-1px;

		.logo {
			display:block;
			width:110px;
			margin:(@navbar-height*.5) auto 0px auto;
			z-index:99;
			position:relative;
		}

		.app-logo {
			.logo;
			width:175px;
		}

		.logo-bg {
			position: absolute;
			top: -50px;
			left: (@grid-gutter-width /2);
			z-index:99;
		}

		.logo-bg-sm {
			.logo-bg;
			width:@left-sidebar-width;
		}

		.logo-bg-lg {
			.logo-bg;
			width:@left-sidebar-width;
		}

		img.curve {
			width:100%;
			position:relative;
			bottom:-5px;
			z-index:1000;
		}
	}

	.yellow-bar {
		background-color:@nau-yellow;
		height:5px;
	}

	.navbar-collapse {
		padding-left:0px;
		padding-right:0px;
	}

	.navbar-header {
		background-color:@nau-dark-blue;
	}

	.content {
		border-top:0px;
		position:relative;
		bottom:0px;
		z-index: 3;

		.title {
			font-family: 'Roboto Slab', serif;
			margin-bottom:(@grid-gutter-width / 2);
			p {
				padding:0px;
				margin:0px;
			}
		}

		ul {
			> li {
				list-style: none;
			}
		}
	}

	.side-navigation {
		font-family: 'Noto Sans', sans-serif;
		font-size:(@font-size-medium);
		.box-shadow(@h: 0px, @v: 8px, @b: 10px, @s: -9px, @color: @nau-medium-blue);
		ul {
			width: 75%;
			margin: (@grid-gutter-width / 2) auto;
		}
		li {
			padding:7px 0px;
			border-bottom:1px solid @nau-nav-separator;
			&.active {
				background-color: @nau-egg-white;
				margin-left: -(@grid-gutter-width);
				margin-right: -(@grid-gutter-width + 1px);
				padding-left: (@grid-gutter-width);
				a {
					font-weight:700;
					&:hover {
						cursor:default;
						text-decoration: none;
					}
				}
			}
			i {
				position:absolute;
				font-size: @font-size-large;
				margin-left:-(@grid-gutter-width - 10px);
				&.fa-check {
					color:@success-green;
				}
				&.fa-warning {
					color:@nau-yellow;
				}
				&.fa-exclamation-circle {
					color:@danger-red;
				}

			}
			a {
				color:@nau-dark-blue;
				padding:0px 10px;

				&.disabled {
					color: #777;
					cursor: default;
					text-decoration: none;
				}
			}
			&:first-child {
				border-top:1px solid @nau-light-blue-border;
			}
			&:last-child {
				border-bottom:0px;
			}
		}
	}

	@media (min-width: @screen-sm-min) {

		height:100%;
		width:@left-sidebar-width;
		float:left;

		.side-navigation {
			font-size:(@font-size-small);
			.box-shadow(@h: 0px, @v: 0px, @b: 0px, @s: 0px, @color: @nau-dark-blue);
			ul {
				width:100%;
				li {
					i {
						margin-left:-(@grid-gutter-width - 15px);
					}
					&.active {
						margin-left: -(@grid-gutter-width - 10);
						margin-right: -((@grid-gutter-width - 10) + 1);
						padding-left: (@grid-gutter-width - 10);
					}
				}
			}
		}

		.content {
			width:100%;
			padding:100px (@grid-gutter-width - 10) (@grid-gutter-width / 2);
		}

	}

	@media (min-width: @screen-md-min) {

		height:100%;
		width:@left-sidebar-width;
		float:left;

		.side-navigation {
			font-size:(@font-size-small + 1);
			.box-shadow(@h: 0px, @v: 0px, @b: 0px, @s: 0px, @color: @nau-dark-blue);
			ul {
				width:100%;

				li {
					i {
						margin-left:-(@grid-gutter-width - 10px);
					}
					&.active {
						margin-left: -(@grid-gutter-width);
						margin-right: -(@grid-gutter-width + 1px);
						padding-left: (@grid-gutter-width);
					}
				}
			}
		}

		.content {
			width:100%;
			padding:100px @grid-gutter-width (@grid-gutter-width / 2);
		}

	}
}

